/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; } */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
    font-family: 'CarterOne-Regular';
    src: url('./assets/fonts/CarterOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./assets/fonts/RobotoMono-Regular.ttf') format('truetype');
}