/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; } */
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    background-color: #e5e5f7;
    background-image: radial-gradient( circle at 0 0, transparent 0, #d9d9ff 10px), linear-gradient(#fff5, #fff);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

main {
    position: relative;
}

@font-face {
    font-family: 'CarterOne-Regular';
    src: url('./assets/fonts/CarterOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./assets/fonts/RobotoMono-Regular.ttf') format('truetype');
}