/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; } */
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    min-height: 100vh;
    /* background-color: #e5e5f7; */

    /* background: rgb(240,240,255);
    background: linear-gradient(45deg, rgba(240,240,255,1) 0%, rgba(229,229,255,1) 33%, rgba(217,217,255,1) 100%); */

    background: rgb(240,240,255);
    background: linear-gradient(45deg, rgba(240,240,255,1) 0%, rgba(229,229,255,1) 10%, rgba(192,192,255,1) 100%);

    background-repeat: no-repeat;
    background-size: 100% 100%;
}

main {
    position: relative;
}

.container {
    width: unset !important;
}

@font-face {
    font-family: 'CarterOne-Regular';
    src: url('./assets/fonts/CarterOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./assets/fonts/RobotoMono-Regular.ttf') format('truetype');
}